
/* ASTERISK */

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

/* Section-1 */

#section-1{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 13px;
    background-color: #F5F5F5;
    height: 35px;
}

#section-1 .icon svg{
    background-color: #F5F5F5;
}

#section-1 .icon{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 12px;
    align-content: center;
    padding: 12px;
    padding-left: 36px;
    background-color: #F5F5F5;
    height: 35px;
}

#section-1 .link{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: end;
    align-content: center;
    gap: 15px;
    padding-right: 36px;
    background-color: #F5F5F5;
    height: 35px;
}

.gaap{
    padding-left:12px
}

/* ---------- */


/* #section-2 */

#section-2{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    height: 60px;
}



#section-2 .nike-logo svg{
    width: 79.8px;
    height: 79.8px;
   
}

#section-2 .nike-logo{
    padding-left: 36px;
    display: grid;
    grid-template-columns: auto;
}

/* #section-2 .nike-logo a{
    border: 1px solid black;
    background-color: #e5e5e5 ; 
    opacity: 0.3;
    width:100px;
    height: 50px;
    padding-bottom: 20px;
} */

#section-2 .nike-content{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: end;
    align-content: center;
    gap: 0px;
    font-size: 17px;
    /* border: 1px solid black; */
    
}
#section-2 .nike-content a{
    /* border: 1px solid black; */
    height: 50px;
    width: 60px;
    text-align: center;
    padding-top: 12px;
   
}
#section-2 .nike-content a:hover{
    border-bottom: 2px solid black;
}

#section-2 .nike-content a:first-child{
    height: 50px;
    width: 150px;
}
#section-2 .nike-content a:nth-child(3){
    height: 50px;
    width: 80px;
}

#section-2 .nike-icons{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-content: center;
    gap:12px;
    padding-right: 36px;
}
#section-2 .nike-icons a{
    padding-top: 8px;
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

#section-2 .nike-icons a:hover{
     background-color: #e5e5e5; 
}

/* #section-2 Search-Box */

.box{
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: start;
    align-content: center;
    /* border: 1px solid black; */
    width:180px;
    gap:0px;
    border-radius: 80px;
    background-color: #F5F5F5;
    height: 40px;
    position: relative;
}
.box input{
    border: 0;
    outline: none;
    width: 180px;
    height: 40px;
    border-radius: 80px;
    /* border: 1px solid black; */
    background-color: #F5F5F5;
    text-align: center; 
    padding-right: 45px;
    font-size: 16px;
    color:black;
    
}

.box a{
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left:0px;
    background-color: transparent;
}


.box:hover,
.box input:hover,
.box a:hover
{
    background-color: #e5e5e5;
}

/* ------------ */

/* #section-3 */

#section-3{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-right: 52px;
    background-color: #F5F5F5;
    height: 60px;
}

#section-3 a:first-child{
    font-size: 17px;
    word-spacing:2px ;
}

#section-3 a:last-child{
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
}




